<div class="flex items-center justify-center min-h-screen bg-base-200">
  <div class="card lg:card-side bg-base-100 shadow-xl p-10">
    <div class="card-body">
      <h2 class="card-title mb-4">Sign Up for Your Account</h2>
      <form (submit)="signup()">
        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required class="input input-bordered">
        </div>

        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required class="input input-bordered">
        </div>

        <div class="form-control mb-4">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required class="input input-bordered">
        </div>
        <div class="card-actions">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
       
      </form>
    </div>
  </div>
</div>
