<div class="hero min-h-screen" style="background-image: url(https://img.freepik.com/premium-photo/laptop-sits-table-plant-potted-plant_244157-4322.jpg;)">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">WELCOME</h1>
      <p class="mb-5">to the largest e-tech platform</p>
      <button class="btn btn-primary"><a routerLink="/dashboard">SHOP NOW</a></button>
    </div>
  </div>
</div>