<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://img.freepik.com/free-psd/aerial-view-woman-using-computer-laptop-smartphone-wooden-table_53876-9101.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Explore the Technology with E-shop</h1>
      <p class="py-6">We are passionate about technology and believe that everyone should have access to the latest and greatest devices. We are constantly expanding our selection and offering new deals and promotions. We also offer a wide range of accessories to help you get the most out of your new device.</p>
      <button class="btn btn-primary"><a routerLink="/dashboard">SHOP NOW</a></button>
    </div>
  </div>
</div>