@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&family=Questrial&display=swap');




.container{
    margin-left: 5%;
    margin-right: 5%;
}

body {
    margin: 10px; 
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
  }

  .cart-card, cart-container {
    font-family: 'Questrial', sans-serif;
  }




