/* Footer container */
footer {
  background-color: #232f3e;
  color: #ffffff;
  padding: 20px;
  font-size: 12px;
}

/* Footer text */
footer p {
  margin: 0;
  color: #ffffff;
}

/* Footer links */
footer a {
  color: #ffffff;
  text-decoration: none;
}

/* Footer links on hover */
footer a:hover {
  text-decoration: underline;
}
